.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-items {
    display: inline-flex;
    flex: 0 0 33.3%;
    min-width: 30ch;
}

.card {
    border: 1px solid #8536df;
    padding: 5px;
    margin: 0.5rem 1rem;
    color: #d3cccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    max-height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.project-links {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    
}

.project-svg {
    font-size: 2rem;
    color: #363cdf;
    transition-duration: 0.2s;
}

.project-svg:hover {
    text-align: center;
    color: #d3cccc;
    background-color: #8536df;
    text-decoration: none;
}
