
.cube {
    position: relative;
    margin: 4rem auto;
    height: 100px;
    width: 100px;
    animation: 8s rotation infinite linear;
    transform-style: preserve-3d;
}

@keyframes rotation {
    to {
        transform: rotateY(360deg);
    }
}

.side {
    position: absolute;
    height: 100%;
    width: 100%;
    border: 2px solid #8536df;
}

.front {
    background-color: transparent;
    -webkit-transform: rotateX(-54.7356deg) rotateY(45deg) translateZ(50px);
    transform: rotateX(-54.7356deg) rotateY(45deg) translateZ(50px);
}

.back {
    background-color: transparent;
    -webkit-transform: rotateX(-54.7356deg) rotateY(135deg) translateZ(50px);
    transform: rotateX(-54.7356deg) rotateY(135deg) translateZ(50px);
}

.left {
    background-color: transparent;
    -webkit-transform: rotateX(-54.7356deg) rotateY(225deg) translateZ(50px);
    transform: rotateX(-54.7356deg) rotateY(225deg) translateZ(50px);
}

.right {
    background-color: transparent;
    -webkit-transform: rotateX(-54.7356deg) rotateY(315deg) translateZ(50px);
    transform: rotateX(-54.7356deg) rotateY(315deg) translateZ(50px);
}

.top {
    background-color: transparent;
    -webkit-transform: rotateX(35.2644deg) rotateZ(-45deg) translateZ(50px);
    transform: rotateX(35.2644deg) rotateZ(-45deg) translateZ(50px);
}

.bottom {
    background-color: transparent;
    -webkit-transform: rotateX(35.2644deg) rotateY(180deg) rotateZ(-45deg)
        translateZ(50px);
    transform: rotateX(35.2644deg) rotateY(180deg) rotateZ(-45deg)
        translateZ(50px);
}

@media (max-width: 430px) {
    .cube {
        margin: 2rem;
        width: 60px;
        height: 60px;
    }

    .front {
        background-color: transparent;
        -webkit-transform: rotateX(-54.7356deg) rotateY(45deg) translateZ(30px);
        transform: rotateX(-54.7356deg) rotateY(45deg) translateZ(30px);
    }
    
    .back {
        background-color: transparent;
        -webkit-transform: rotateX(-54.7356deg) rotateY(135deg) translateZ(30px);
        transform: rotateX(-54.7356deg) rotateY(135deg) translateZ(30px);
    }
    
    .left {
        background-color: transparent;
        -webkit-transform: rotateX(-54.7356deg) rotateY(225deg) translateZ(30px);
        transform: rotateX(-54.7356deg) rotateY(225deg) translateZ(30px);
    }
    
    .right {
        background-color: transparent;
        -webkit-transform: rotateX(-54.7356deg) rotateY(315deg) translateZ(30px);
        transform: rotateX(-54.7356deg) rotateY(315deg) translateZ(30px);
    }
    
    .top {
        background-color: transparent;
        -webkit-transform: rotateX(35.2644deg) rotateZ(-45deg) translateZ(30px);
        transform: rotateX(35.2644deg) rotateZ(-45deg) translateZ(30px);
    }
    
    .bottom {
        background-color: transparent;
        -webkit-transform: rotateX(35.2644deg) rotateY(180deg) rotateZ(-45deg)
            translateZ(30px);
        transform: rotateX(35.2644deg) rotateY(180deg) rotateZ(-45deg)
            translateZ(30px);
    }
}